site_name: My Docs
site_url: https://mydomain.org/mysite
theme:
  name: material

plugins:
   - glightbox
   - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
          remove_comments: true
      cache_safe: true